<template>
    <div>
        <div class="app-scroll-set p-2">
            <app-messages></app-messages>
        </div>
        <hr>
        <form class="form-group pt-1" action="#">
            <textarea 
                class="form-control"
                id="body" 
                v-model="body"
                rows="2"
                @keydown="handleMessageInput"
            >
            </textarea>
        </form>
        </div>
</template>

<script>
    import Bus from '../bus'
    import moment from 'moment'
    export default {

        data(){
            return {
                body: null,
                bodyBackUp: null,
            }
        },

        methods: {
            handleMessageInput(e){
                if ( e.keyCode === 13 && e.shiftKey === false){
                    e.preventDefault()
                    this.bodyBackUp = this.body
                    this.send()
                }
            },
            buildTargetMessage(){
                let tempId = Date.now()
                return {
                    id: tempId,
                    body: this.body,
                    amIOwner: true,
                    created_at: moment().format("YYYY-MM-DD HH:mm:ss"),
                    user:{
                        name: user.user_name
                    }
                }
            },
            send(){
                if (!this.body || this.body.trim() === ""){
                    retun
                    // Must Refactor
                }

                let targetMessage = this.buildTargetMessage()
                Bus.$emit('message.added', targetMessage)

                axios
                .post('/send/message',{
                    body: this.body
                })
                .catch(() => {
                    this.body = this.bodyBackUp
                    Bus.$emit('message.removed', targetMessage)
                    console.log("failed")
                })
                

                this.body = ""
            }
        }
    }
</script>

<style scope>
    .app-scroll-set{
        height:300px;
        overflow-y: scroll;
    }
</style>
