<template>
    <div>
        <div class="container">
            <p class="name">{{ message.user.name }}</p>
            <hr>
            <p>{{ message.body }}</p>
            <span class="time-right">{{ message.created_at }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props : [
          'message'
        ]
    }
</script>

<style scoped>
.name {
    font-weight: bold;
    margin-bottom: 1px;
}
.container {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

hr
{ 
   margin-top: 0em;
   margin-bottom: 0em;
} 
</style>
