<template>
    <div class="scroll">
        <app-message v-for="message in messages" :key="message.id" :message="message"></app-message>
    </div>
</template>

<script>
    import Bus from '../bus'

    export default {
        
        data() {
            return {
                messages: []
            }
        },

        methods :{
            removeMessage(id){
                this.messages = this.messages.filter( (messages) => {
                    return messages.id !== id
                })
            }
        },

        mounted(){
            axios
            .get('/chat/messages')
            .then(response => {
                this.messages = response.data
            })

            Bus.$on('message.added', (message) => {
                this.messages.unshift(message)
            })
            .$on('message.removed', (message) => {
                this.removeMessage(message.id)
            })
        },
    }
</script>

<style scoped>
.scroll {
    overflow: auto;
}
</style>