<template>
    <div>
        <p class="name">Online Users ( {{ online_users_count }} )</p>
        <hr>
        <dl>
            <dt>users</dt>
            <dd v-for="user in users_here">- {{ user.name }}</dd>
        </dl>
    </div>
</template>

<script>
    import Bus from '../bus'

    export default {

        data() {
            return {
                users_here: [],
                online_users_count: 0,
                userExistCheck: []
            }
        },

        mounted(){
            Bus.$on('users.here', (users) => {
                this.users_here = users
                this.online_users_count = users.length
            }).$on('user.joining', (user) => {
                this.users_here.unshift(user)
                this.online_users_count = this.online_users_count + 1
            }).$on('user.leaving', (user) => {
                this.users_here = this.users_here.filter((u) => {
                    return user.id !== u.id
                })
                this.online_users_count = this.online_users_count - 1
            })
        },
    }
</script>

<style scoped>
.name {
    font-weight: bold;
}
</style>
